@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    box-sizing: border-box;
    color: tomato;
    margin: 50px;
}

.container {
    display:grid;
    grid-gap: 20px;
}

.header {
    grid-template-columns: repeat(4, lfr);
}

.logo {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

span {
    font-size: 3em;
    color: tomato;
}

.siteadi {
    margin-left: -45px;
    margin-top: 15px;
}

.siteadi a {
    text-decoration: none;
    color: tomato;
}

/* Navigasyon*/

.menu ul {
    display:grid;
    grid-gap:10px;
    padding:0;
    list-style: none;
    grid-template-columns:repeat(4,lfr);
}

.menu a {
    background: #ddd;
    display: block;
    text-decoration: none;
    padding:0.8em;
    text-align: center;
    color: tomato;
    text-transform: uppercase;
    font-size: lem;
    font-weight: bold;
    box-shadow: 0 lpx 5px rgba(104, 104, 104 , 0.8 );
}

.menu a:hover {
    background: tomato;
    color: #333;
    box-shadow: 4px 10 px 5 px 0px rgba(0, 0, 0, 0.5);
}

/*  Banner*/

.banner {
    background-image: url("https://www.utikad.org.tr/images/Haber/turkiyevemalezyaninserbestticaretanlasmasinirevizeedenprotokolimzalandi-62776.jpg");
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em;
    box-shadow: ; 0 lpx 5px rgba(104, 104, 104 , 0.8 );
    display:flex;
    flex-direction:column;
    align-items:start ;
    justify-content:center ;
 
}

.banner hl {
    font-size: 3em;
    margin-bottom: 0;
    color: #fff;
}

.banner p {
    font-size: 1.1em;
    margin-top: 0;
    color: #fff;
}

.btn {
    background: #333;
    color: #fff;
    padding: 0.6em 1.3em;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: tomato;
    color: #333;
    box-shadow: 4px 10 px 5 px 0px rgba(0, 0, 0, 0.5);
}
